

#table-ticket-detail{
background-color:   #9ac6cc;
border: 2px solid #e9e9e9;
font-weight: bold;
}
#table-ticket-detail-content{
    width: 1250px;
    /*height: 500px;*/
    /*overflow:scroll;*/
    background-color:   white;
    border: 1px solid #e9e9e9;
}


#table-ticket-detail-comment{
background-color:   #bbdce1;
border: 2px solid #e9e9e9;
font-weight: bold;
}

#table-ticket-detail-comment-content{
    width: 350px;
    /*height: 500px;*/
    /*overflow:scroll;*/
    background-color:   white;
    border: 1px solid #e9e9e9;
}

#ticket-form-style{
    width: 1500px; /*largeur page*/
    /*height: 500px;*/
    /*overflow:scroll;*/
    background-color:   white;
    border: 2px solid #e9e9e9;
}



#panel-title-style{ /*Ticket detail*/
    font-weight: bold;
}


#title-commment{ /*Comment*/
    font-weight: bold;
}

