

#table-ticket-detail{
background-color:   #e9e9e9;
border: 2px solid #e9e9e9;
}
#table-ticket-detail-content{
    width: 1250px;
    height: 500px;
    /*overflow:scroll;*/
    background-color:   white;
    border: 1px solid #e9e9e9;
}

