

#table-create-ticket-content{

background-color:   #f8f5f5;
border: 2px solid #e9e9e9;
}

#title-ticket{
    font-weight: bold;
    /*font-size: 1.2em*/
    font-size: 26px;
    width: 2300px;
    border: 2px solid #e9e9e9;
    background-color: lightblue;
    /*background-color: cadetblue;*/
    color: white;

}
