{% extends "layout.html" %}
{% load jsonify %}
{% load markdown_deux_tags %}


{% block content %}




<div class="navbar navbar-form navbar-fixed-top">
        <form action= "{% url 'ticket-admin2' ctx=ctx %}">
            <input type="submit" value="Ticket-list" />
        </form>
        <br/>
    </div>
<br/> <br/> <br/>
<h1 align=center>Admin : {{ object.1.title }}</h1>
<br/>



    <form action="" class="ticket-form" method="POST" >    
        <table class="table table-striped table-condensed" >
            {% csrf_token %}
            <tbody>
                <tr  id="table-ticket-detail">
                    <td width=200 >
                        Ticket #{{object.1.pk}} <br/>
                        by {{ object.1.author }}
                    </td>  
                    <td width=850>
                        {{ object.1.title }}
                    </td>
                    <td width=200 >
                        {{ object.1.creation_date}}
                        {{ object.1.status }}
                    </td>
                </tr>
                <tr id="table-ticket-detail-content">
                    <td>
                        <br/>
                    </td>  
                    <td overflow=scroll>
                           <br/>
                        {{ object.1.text|markdown}}

                    </td>
                </tr>
             </tbody>
        </table>
    </form>
</main>

<main class="comment">

    <div class="panel-heading"> 
        <h3 class="panel-title" id="title-commment"> Comments </h3>
    </div>

    {% for comment in object.0.all %}
        <table class="table table-striped table-condensed" >
                <div class="comment">
                    <tbody>
                        <tr  id="table-ticket-detail-comment">
                            <td width=200 >
                                 by {{ comment.author }}
                            </td> 
                            <td width=2000 >
                            </td>
                            <td width=400 >
                                {{ comment.creation_date}}
                            </td>
                        </tr>

                        <tr  id="table-ticket-detail-comment-content">
                            <td width=200 >
                            </td> 
                            <td width=2000>
                                <br/>
                                {{ comment.text|markdown }}
                            </td> 
                            <td width=400 >
                            </td> 
                    </tbody>
                </div>
        </table>
        {% endfor%}
</main>

<main action="" class="commentForm" method="POST" ng-controller="CommentForm" >
            <form action="" class="ticket-form" method="POST">
                <div class="ticket-form-fields">

                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.ctx }}
                    <div class="form-group">
                        {{ form.title.label_tag }}
                        {{ form.title }}
                        <p class="help-text">{{ form.title.errors }}</p>
                    </div>
                    <div class="form-group form-group-editor">
                        {{form.text.label_tag}}
                        {{form.text}}
                        <p class="help-text">{{ form.text.errors }}</p>
                    </div>
                </div>

                <div class="navbar navbar-form">
                    <button type="submit" class="btn btn-primary">Save</button> 
                </div>
            </form>

</main>

{% endblock %}