{% extends "layout.html" %} {% load markdown_deux_tags %} {% block content %} {% csrf_token %}


<body ng-controller="List"></body>



<div class="navbar navbar-form navbar-fixed-top">
    <a href="{% url 'ticket-admin2' ctx=ctx %}">All-ticket</a>
    <br/>
</div>
<br/> <br/> <br/>

<h1 align=center>Admin {{collab_name}} : Tickets</h1>


<table class="table table-striped table-condensed">
    <tbody>
        <tr id="table-ticket-detail">
            <td width=200>
                <input style="float: right" type="button" onclick="myFunction2();" value="Apply" />
                <table style="float: right" width=100>
                    <tr>

                        <td>
                            <select id="filter_select" ng-model='filter_value' ng-click="set_filter_value(filter_value)">
                            <option ng-value='"both"' value="both"  >Display all tickets</option>
                            <option ng-value='"open"' value="open"  >Display opened only</option>
                            <option ng-value='"closed"' value="closed"  >Display closed only</option>
                        </select>
                        </td>


                        <td>
                            <select id="action_select">
                            <option value="nothing">Action</option>
                            <option value="open" >Open</option>
                            <option value="close" >Close</option>
                        </select>
                        </td>

                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>


{% for ticket in object %}
<!--<tr id=checkbox>-->

<div ng-show="match_filter('{{ ticket.status }}') ">

    <input type="checkbox" name="name_box" id="myCheck" value="{{ ticket.pk }}">

    <!--</tr>-->

    <a href="{% url 'ticket-detail-admin' pk=ticket.pk ctx=ctx %}" class="list-group-item">
        <table class="table table-striped table-condensed">
            <tbody>

                <tr id=table-ticket-list>

                    <td width=200>

                        Ticket #{{ticket.pk}} <br/> {{ticket.author}}

                    </td>
                    <td width=1600>

                        {{ ticket.title }}

                    </td>
                    <td width=400>
                        {{ticket.creation_date}} {{ ticket.status }}

                    </td>
                </tr>

                <tr id=table-ticket-list-content>
                    <td>
                    </td>
                    <td id=cut-text>
                        <br/> {{ ticket.text|markdown|truncatewords_html:60}}
                    </td>
                    <td align=center>
                        number of comments
                        <span class="badge" id="badge-style"> 
                                        {{ticket.nb_coms}}
                                    
                                    </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </a>
    </br>
</div>
{% endfor %}

<div class="navbar navbar-form">
    <form action="{% url 'ticket-create' ctx=ctx%}">
        <button class="btn btn-primary" id="btn-style">Create new ticket</button>
    </form>
</div>

</div>


<!--<button type=button onclick="myFunction()">X1</button>-->
<!--<p id="demo"></p>

 <button type=button onclick="myFunction2()">X2</button>-->

<!--<script>
function myFunction() {
    document.getElementById("demo").innerHTML = "Hello World";
}
</script>-->

<!--</script>
 <button type=button onclick="check()">check ?</button>

<script>
function check() {
    if (document.getElementById("myCheck").checked )
        alert('checked!')
}
</script>-->




<script>
    function filter_tickets() {
        var filter_selected = document.getElementById("filter_select").value;
        // { % verbatim %
        // }
        // set_filter_value()
        alert("pas mal pas mal")
        return filter_selected;
    }
</script>

<!--<script>
    function filter_tickets() {
        var filter_selected = document.getElementById("filter_select").value
        $.ajax({
            //    url: "close_ticket/",
            url: "{{ctx}}",
            type: "GET",
            data: {
                'filter': JSON.stringify(filter_selected),
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },

            success: function() {
                alert('DONE!');
                // window.location.reload(false);
            },
            error: function() {
                alert('ERROR!');
            },

        });
    }
</script>-->



<script>
    function myFunction2() {
        var pk_list = getCheckedCheckboxesFor('name_box')
        var action_selected = document.getElementById("action_select").value
        $.ajax({
            //    url: "close_ticket/",
            url: "{{ctx}}",

            type: "POST",
            //    type: "GET",

            data: {
                'pk': JSON.stringify(pk_list),
                'action': JSON.stringify(action_selected),
                'csrfmiddlewaretoken': '{{ csrf_token }}',

            },
            //    success: function(response){
            //    $('#blurg').html(response).fadeIn(1500);
            success: function() {
                alert('DONE!');
            },
            error: function() {
                alert('ERROR!');
            },
            //    }
        });
    }
</script>

<script type="text/javascript">
    function getCheckedCheckboxesFor(checkboxName) {
        var checkboxes = document.querySelectorAll('input[name="' + checkboxName + '"]:checked'),
            values = [];
        Array.prototype.forEach.call(checkboxes, function(el) {
            values.push(el.value);
        });
        return values;
    }
</script>


{% endblock %}