{% extends 'layout.html' %}

{% load jsonify %}

{% block content %}



<div class="navbar navbar-form">
        <form action= "{% url 'ticket-list2' ctx=ctx %}">
            <input type="submit" value="Ticket-list" />
        </form>
        <br/>
    </div>
<br/> <br/> <br/>
<h3 id="title-ticket" align=center>New Ticket </h3>
<p id="current_url"></p>
<script>
document.getElementById("current_url").innerHTML = window.location.href;
</script>

<form action="" class="ticket-form" method="POST">
    <ng-controller="ticketCreationForm" ng-init='create_ticket = {{form.instance.as_json|jsonify}}'>
        <table class="table table-striped table-condensed" >
            {% csrf_token %}
            {{ form.non_field_errors }}
         <tbody>
            <tr  id="table-create-ticket-content">
                <td width= 70 >
                    {{ form.title.label_tag }}
                </td>  
                <td>
                        {{ form.title }}
                        <p class="help-text">{{ form.title.errors }}</p>
                </td>
                
            </tr>
            <tr id="table-create-ticket-content">
                <td width= 70>
                    {{ form.text.label_tag }}
                </td>  
                <td>
                        {{form.text}}
                        <p class="help-text">{{ form.text.errors }}</p>
                </td>
            </tr>
         </tbody>
        </table>
<br/>

    <div class="navbar navbar-form">
            <!--<button type="submit" class="btn btn-primary" >Save</button>    #on-submit=view.redirect()-->
            <button type="submit" class="btn btn-primary" >Save</button>
    </div>
</form>
{% endblock %}