{% extends 'layout.html' %}

{% load jsonify %}

{% block content %}
<div class="navbar navbar-form">
        <form action= {% url 'home' %}>
            <input type="submit" value="Home" />
        </form>
        <br/>
    </div>

<form action="" class="ticket-form" method="POST">
    
    <!--ng-controller="ticketCreationPageForm" ng-init='create_ticket_Page = {{form.instance.as_json|jsonify}}'>-->
    <div class="ticket-form-fields">

        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.ctx }}
        <div class="form-group">
            {{ form.title.label_tag }}
            {{ form.title }}
            <p class="help-text">{{ form.title.errors }}</p>
        </div>
        <div class="form-group form-group-editor">
            {{form.text.label_tag}}
            {{form.text}}
            <p class="help-text">{{ form.text.errors }}</p>
        </div>
    </div>

 <div class="navbar navbar-form">
        <button type="submit" class="btn btn-primary">Save</button>
            
    </div>
</form>
{% endblock %}
