
{% extends 'layout.html' %}

{% load jsonify %}

{% block content %}

<div class="navbar navbar-form">

        <form action= "{% url 'home' %}">       

            <input type="submit" value="Home" />
        </form>
        <br/>
    </div>



<form action="" class="ticket-form" method="POST"
    ng-controller="ticketForm" ng-init='ticket = {{form.instance.as_json|jsonify}}'>
    <div class="ticket-form-fields"
        ng-show="!isPreviewOpen">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.ctx }}
        <div class="form-group">
            {{ form.title.label_tag }}
            {{ form.title }}
            <p class="help-text">{{ form.title.errors }}</p>
        </div>
        <div class="form-group form-group-editor">
            {{form.text.label_tag}}
            {{form.text}}
            <p class="help-text">{{ form.text.errors }}</p>
        </div>
    </div>

    <div class="ticket-form-preview"
         ng-show="isPreviewOpen">
        <header class="page-header">
            <!--<h1 ng-bind="ticketPage.title"></h1>-->
            <h1 ng-bind="ticket.title"></h1>
        </header>

        <!--<section role="content" ng-bind-html="ticketPage.text|hbpMarkdown"></section>-->
        <section role="content" ng-bind-html="ticket.text|hbpMarkdown"></section> 
    </div>


    <div class="navbar navbar-form">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default"
            ng-click="togglePreview()"
            ng-bind="isPreviewOpen ? 'Editor' : 'Preview'"></button>
    </div>
</form>
{% endblock %}