
{% extends "layout.html" %}

{% block content %}
<main class="page">
    {% if home %}
    <header class="page-header">
        <h1>{{home.title}}</h1>
    </header>

    <section role="content">
        {{content|safe}}
    </section>
    {% else %}
    <header class="page-header">
        <h1>This page does not exists</h1>
    </header>
    <section role="content">

    </section>
    {% endif %}
</main>


<!--just testing stuffs-->
<br/><br/><a href="{% url 'home' %}">Juste a link to test</a>
<br/><br/><br/>
<p id="current_url"></p>
<script>
document.getElementById("current_url").innerHTML = window.location.href;
</script>

<a href="{% url 'ticket_page_show' %}">link to show</a>
<br/>
<a href="{% url 'ticket_page_edit' %}">link to edit page</a>
<br/>
<a href="{% url 'ticket_page_create' %}">link to create page</a>
<br/>
<a href="{% url 'ticket-list' %}">link to ticket list page</a>
{% endblock %}