
{% extends "layout.html" %}
{% load jsonify %}

{% block content %}
 
    <div class="navbar navbar-form">
        <form action= {% url 'home' %}>
            <input type="submit" value="Home" />
        </form>
        <br/>
    </div>


<!--just testing stuffs-->
<br/><br/><a href="{% url 'home' %}">Juste a link to test</a>
<br/><br/><br/>
<p id="current_url"></p>
<script>
document.getElementById("current_url").innerHTML = window.location.href;
</script>

<a href="{% url 'project-list' %}">link to create a new project</a>
<br/>

<a href="{% url 'ticket-create' %}">link to create page</a>
<br/>


<a href="{% url 'ticket-edit' %}">link to edit page</a>
<br/>


<a href="{% url 'ticket-list' %}">link to ticket list page</a>

<a href="{% url 'Menu_deroulant' %}">link to Menu deroulant</a>
<br/>

<a href="{% url 'ticket-list' %}">link to ticket list page</a>



{% endblock %}
