{% load static %}
{% load oidc_session %}


<!DOCTYPE html>
<html>
  <head>
    <title>Tutorial Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    {# ex Bower Dependencies #}
    <link rel="stylesheet" href="{% static 'hbp-collaboratory-theme/dist/css/bootstrap.css' %}">
	  <link rel="stylesheet" href="{% static 'css/style-create-ticket.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-ticket-detail.css' %}">

    <link rel="stylesheet" href="{% static 'css/style-show-ticket.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-ticket-list.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-edit-ticket.css' %}">


  </head>
  <body>
    {% hbp_oidc_session_handler request.user %}

    {% block content %}{% endblock %}

    {# ex Bower Dependencies #}

    <script type="text/javascript" src="{% static 'lodash/lodash.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>

    {#<script type="text/javascript" src="{% static 'lodash/dist/lodash.min.js' %}"></script>#}

    <script type="text/javascript" src="{% static 'angular/angular.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-bbp-config/angular-bbp-config.js' %}"></script>
    <script type="text/javascript" src="{% static 'bbp-oidc-client/angular-bbp-oidc-client.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-ui-router/release/angular-ui-router.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-resource/angular-resource.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'marked-hbp/marked.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-common/dist/angular-hbp-common.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'scripts/app.js' %}"></script>
    






  </body>
</html>