
{% extends "layout.html" %}

{% block content %}
 
<script ="text/javascript">
    
</script>

<main class="page">

    <div class="navbar navbar-form">
        <form action="home">
            <input type="submit" value="Home" />
        </form>
        <br/>
    </div>

    <form action="" class="ticket-form" method="POST" >
        {% csrf_token %}
        {% if ticket_page %}
        <header class="page-header">
          <h1>{{ticket_page.title}}</h1>
        </header>

        <section role="content">
            {{content|safe}}
        </section>  

        {% else %}
        <header class="page-header">
         <h1>This page does not exists</h1>
        </header>
        <section role="content">
            <a class="btn btn-primary" href= "{% url 'ticket_page_create' %}"
                >Create a new ticket</a> 
        </section>
        {% endif %}
    </form>

    <p id="current_url"></p>
    <script>
    document.getElementById("current_url").innerHTML = window.location.href;
    </script>

</main>


{% endblock %}
