{% extends "layout.html" %}

{% block content %}

<script ="text/javascript">
</script>

<main class="page">

    <div class="navbar navbar-form">
        <form action="home">
            <input type="submit" value="Home" />
        </form>
        <br/>
    </div>

<br/><br/><br/>
<h1>Title: {{ object.title }}</h1>
<p>Text: {{ object.text }}</p>

<br/><br/><br/>

    <form action="" class="ticket-form" method="POST" >
        {% csrf_token %}

        <header class="page-header">
          <h1>{{ticket_page.title}}</h1>
        </header>

        <section role="content">
            {{content|safe}}
        </section>  

    </form>





    <p id="current_url"></p>
    <script>
    document.getElementById("current_url").innerHTML = window.location.href;
    </script>

</main>

{% endblock %}