{% extends "layout.html" %}

{% block content %}



<h1>Tickets</h1>
<!--<ul>
{% for ticket in object_list %}
    <li>{{ ticket.title }} </li>
    
{% empty %}
    <li>No articles yet.</li>
{% endfor %}
</ul>

<br/><br/><br/><br/><br/><br/>
-->


    <div class="navbar navbar-form" id="navbar-style">
        <form action= "{% url 'home' %}">
            <input type="submit" value="Home" />

    <div class="navbar navbar-form">
        <form action= "{% url 'ticket-list' %}">
            <input type="submit" value="Ticket-list" />

        </form>
        <br/>
    </div>

<p id="current_url"></p>
<script>
document.getElementById("current_url").innerHTML = window.location.href;
</script>


<div class="panel panel-info">
  <div class="panel-heading" id="panel-heading-style">
    <h3 class="panel-title" id="panel-title-ticket">La jolie liste :</h3>
  </div>


    {% for ticket in object_list %}
        <div class="list-group" id="list-group-style">

    {% for ticket in object %}
        <div class="list-group">


        <a href="{% url 'ticket-detail' pk=ticket.pk %}" class="list-group-item"> {#Le pk ici ne sert qu'a l'affichage de l'url dans le navigateur#}
           {# >Comments: {{ post.comments.count }} #} 

            
            <span class="badge" id="badge-style">120</span>
            {{ ticket.title }} 
            <br/> 
            {{ ticket.text }} 

        </a>
        </div>
    {% endfor %}

    <div class="navbar navbar-form">
      <form action="{% url 'ticket-create' %}">
            <button class="btn btn-primary" id="btn-style">Create new ticket</button>
      </form>      
    </div>

</div>

<!--<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Titre</h3>
    </div>
    <div class="panel-body">Contenu</div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Titre</h3>
  </div>
  <div class="panel-body">Contenu</div>
</div>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Titre</h3>
  </div>
  <div class="panel-body">Contenu</div>
</div>

<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Titre</h3>
  </div>
  <div class="panel-body">Contenu</div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Titre</h3>
  </div>
  <div class="panel-body">Contenu</div>
</div>-->

{% endblock %}