{% extends "layout.html" %}
{% load jsonify %}
{% block content %}

<script ="text/javascript">
</script>

<main class="page">

    <div class="navbar navbar-form">
        <form action= "{% url 'home' %}">
            <input type="submit" value="Home" />
        </form>
        <br/>
    </div>
    <form action="" class="ticket-form" method="POST" >    
        <table class="table table-striped table-condensed" >
            {% csrf_token %}
            <div class="panel-heading"> 
                <h3 class="panel-title" id="title-ticket"> Ticket detail </h3>
            </div>
            <tbody>
                <tr  id="table-ticket-detail">
                    <td width=200 >
                    Ticket # {{object.1.pk}}
                    </td>  
                    <td width=1050>
                        {{ object.1.title }}
                    </td>
                    <td width=100 >
                        {{ object.1.status }}
                    </td>
                </tr>
                <tr id="table-ticket-detail-content">
                    <td>
                        <br/>
                    </td>  
                    <td overflow=scroll>
                           <br/>
                        {{ object.1.text|linebreaks }}
                    </td>
                </tr>
             </tbody>
        </table>
    </form>
</main>


<main class="comment">

    <div class="panel-heading"> 
        <h3 class="panel-title" id="title-commment"> Comments </h3>
    </div>

    {% for comment in object.0.all %}
        <table class="table table-striped table-condensed" >
                <div class="comment">
                    <tbody>
                        <tr  id="table-ticket-detail-comment">
                            <td width=200 >
                                <p>Name and date</p>
                            </td> 
                            <td width=2000 >
                            </td>
                        </tr>

                        <tr  id="table-ticket-detail-comment-content">
                            <td>
                                <br/>
                                {{ comment.text|linebreaks }}
                            </td>  
                    </tbody>
                </div>
        </table>
    {% empty %}
        <p>No comments here yet, but yours can be the first one</p>
    {% endfor %}
</main>



<main action="" class="commentForm" method="POST" ng-controller="CommentForm" >
            <form action="" class="ticket-form" method="POST">
                <div class="ticket-form-fields">

                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.ctx }}
                    <div class="form-group">
                        {{ form.title.label_tag }}
                        {{ form.title }}
                        <p class="help-text">{{ form.title.errors }}</p>
                    </div>
                    <div class="form-group form-group-editor">
                        {{form.text.label_tag}}
                        {{form.text}}
                        <p class="help-text">{{ form.text.errors }}</p>
                    </div>
                </div>

                <div class="navbar navbar-form">
                    <button type="submit" class="btn btn-primary">Save</button> 
                </div>
            </form>
</main>

{% endblock %}